<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>


<tr th:each="Albums:${albums}">
    <td th:text="${Albums.title}"></td>
    <br>
    <br>
    <td th:text="${Albums.artist}"></td>
    <br>
    <br>
    <td th:text="${Albums.songCount}"></td>
    <br>
    <br>
    <td th:text="${Albums.length}"></td>
    <br>
    <br>
    <img th:src="${Albums.imageURL}" alt="Hi"/>
    <br>
    <br>
</tr>
</body>
</html>